.button {
  text-align: center;
  font-family: Jost;
  font-size: 16px;
  font-weight: 500;
  line-height: 100%;
  padding: 20px 140px;
  width: 353px;
  border-radius: 12px;
  cursor: pointer;
  color: #fff;
  background: #775ce5;
}

a {
  text-decoration: none;
}

.button:hover {
  opacity: 0.7;
}

.button--secondary {
  font-size: 16px;
  padding: 20px 140px;
  background: none;
  color: #775ce5;
  border: 1px solid #775ce5;
}
